.element-card {
    cursor: default;
    text-align: center;
    user-select: none;
    .card-id {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .card-name {
        position: absolute;
        font-size: 36px!important;
        top: 40px;
        left: 0px;
        right: 0;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }
}

.lucky-element-card {
    cursor: default;
    color: #fff;
    padding-left: 6px!important;
    padding-right: 6px!important;
    //background-color: #0e2589!important;
    background: linear-gradient(45deg, #F05A22 50%, #FCB813 )!important;
    border: 5px solid #f5db79!important;
    border-radius: 8px!important;
    text-align: center;
    &::before {
        background-color: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        border: 1px solid linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    }

    .card-id {
        position: absolute;
        top: 3rem;
        font-weight: 600;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-name {
        position: absolute;
        font-size: 100px!important;
        //text-transform: uppercase;
        top: 7rem;
        left: 2px;
        right: 2px;
        line-height: unset!important;
        font-weight: bold;
        //white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        // animation-delay: 0.6s;
    }

    .card-detail {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
    }
}
